a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -o-text-size-adjust: none;
  line-height: 1;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 48px;
}
p {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #333333;
}

.header {
  padding-top: 5px;
  position: relative;
  text-align: center;
  /* background: linear-gradient(60deg, rgb(50, 86, 204) 0%, rgba(0,172,193,1) 100%);*/
  background: White;
  color: white;
}
.logo {
  width: 50px;
  fill: white;
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

.inner-header {
  height: 60vh;
  width: 100%;
  margin: 0;
  padding: 0 0 0 0;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.columnText {
  margin-top: 50px;
  float: left;
  width: 380px;
  text-align: left;
}

.columnImage {
  float: left;
}

.column {
  margin: 0 auto;
  vertical-align: center;
  padding: 10px;
  /* Should be removed. Only for demonstration */
}
/* Clear floats after the columns */
.row {
  width: 900px;
  height: 381px;
  margin: 0 auto;
  margin-top: 45px;
  text-align: center;
  max-width: 1140px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.screenshot {
  max-width: 500px;
  height: auto;
}
.downloadButton {
  margin-top: 12px;
  position: relative;
  left: -8px;
}
.cmdInstallDiv {
  background-color: rgba(0, 0, 0, 0.603);
  margin-top: 12px;
  padding: 10px;
  border-radius: 5px;
  width: 250px;
  text-align: left;
  position: relative;
  left: -2;
}

.width-100 {
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  /* padding: 5rem 0; */
}

.flex-center-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sponsor-title {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
}

.become-sponsor {
  /* margin: 1.5rem 0; */
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  opacity: 0.7;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
  outline: none;
  color: inherit;
}

.sponsor-image {
  width: 10rem;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 910px) {
  .inner-header {
    height: 95vh;
  }
  .cmdInstallDiv {
    left: 0px;

    margin: 0 auto;
    margin-top: 12px;
  }
  .screenshot {
    max-width: 440px;
  }
  .column {
    width: 100%;
  }
  .columnText {
    text-align: center;
  }

  .columnImage {
    height: 400px;
    text-align: center;
  }
  .row {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 1rem;
  }
  .alpha {
    text-align: center;
  }
  .downloadButton {
    margin: 0 auto;
    margin-top: 12px;
    left: 0px;
  }

  .container {
    padding: 10rem 0;
  }
}

@media screen and (max-width: 480px) {
  .screenshot {
    max-width: 95%;
  }

  .downloadButton {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .cmdInstallDiv {
    left: 0px;
    font-size: 13px;
    width: 240px;
    margin: 0 auto;
    margin-top: 10px;
  }
  .container {
    padding: 9rem 0;
  }
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.flexHeaderTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content {
  position: relative;
  height: 22vh;
  text-align: center;
  background-color: #1493de;
}

/* Animation */

.parallax > use {
  animation: move-forever 45s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 17s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 20s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 23s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 30s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }

  .container {
    padding: 10rem 0 1rem;
  }
}

.alpha .btn {
  display: inline-block;
  margin: 6px;
  font-size: inherit;
  line-height: 1.42;
  padding: 0.8em 1.6em;
  font-weight: normal;
  border-width: 0;
  border-style: solid;
  background: transparent;
  border-radius: 0.2666666667em;
  cursor: pointer;
  font-family: "Booster Next FY", "Avenir Next", Avenir, sans-serif;
  user-select: none;
  vertical-align: bottom;
  transition: box-shadow 0.2s, transform 0.2s, color 0.2s;
}
.alpha .btn.btn-disabled {
  cursor: not-allowed;
  opacity: 0.8;
}
.alpha .btn.btn-disabled:active {
  opacity: 0.6;
}
.alpha .btn:hover {
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
}
.alpha .btn:active {
  transform: translateY(3px);
}
.alpha .btn-primary {
  box-shadow: 0 3px 0 0 #367f14, 0 4px 4px -1px rgba(0, 0, 0, 0.6),
    0 4px 6px 1px rgba(0, 0, 0, 0.3), 0 1px 2px 1px rgba(0, 0, 0, 0) inset,
    0 18px 32px -2px rgba(255, 255, 255, 0.1) inset;
  background-color: #52c11f;
  background-image: linear-gradient(-45deg, #52c11f, #7ccc14);
  color: #e6eaef;
}
.alpha .btn-primary:hover {
  box-shadow: 0 3px 0 0 #367f14, 0 6px 4px -1px rgba(0, 0, 0, 0.3),
    0 4px 16px rgba(0, 0, 0, 0.5), 0 1px 2px 1px rgba(0, 0, 0, 0) inset,
    0 18px 32px -2px rgba(255, 255, 255, 0.14) inset;
}
.alpha .btn-primary:active {
  box-shadow: 0 0 0 0 #2d6911, 0 3px 0 0 rgba(0, 0, 0, 0),
    0 4px 16px rgba(0, 0, 0, 0), 0 1px 2px 1px rgba(0, 0, 0, 0.5) inset,
    0 -18px 32px -2px rgba(255, 255, 255, 0.1) inset;
  transition: 0s;
  color: #367f14;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}
.alpha .btn-secondary {
  box-shadow: 0 3px 0 0 #082fa6, 0 4px 4px -1px rgba(0, 0, 0, 0.6),
    0 4px 6px 1px rgba(0, 0, 0, 0.3), 0 1px 2px 1px rgba(0, 0, 0, 0) inset,
    0 18px 32px -2px rgba(255, 255, 255, 0.1) inset;
  background-color: #0b44ef;
  background-image: linear-gradient(-45deg, #0b44ef, #007dfa);
  color: #e6eaef;
}
.alpha .btn-secondary:hover {
  box-shadow: 0 3px 0 0 #082fa6, 0 6px 4px -1px rgba(0, 0, 0, 0.3),
    0 4px 16px rgba(0, 0, 0, 0.5), 0 1px 2px 1px rgba(0, 0, 0, 0) inset,
    0 18px 32px -2px rgba(255, 255, 255, 0.14) inset;
}
.alpha .btn-secondary:active {
  box-shadow: 0 0 0 0 #07288d, 0 3px 0 0 rgba(0, 0, 0, 0),
    0 4px 16px rgba(0, 0, 0, 0), 0 1px 2px 1px rgba(0, 0, 0, 0.5) inset,
    0 -18px 32px -2px rgba(255, 255, 255, 0.1) inset;
  transition: 0s;
  color: #082fa6;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}
.alpha .btn-tertiary {
  box-shadow: 0 3px 0 0 #b3004a, 0 4px 4px -1px rgba(0, 0, 0, 0.6),
    0 4px 6px 1px rgba(0, 0, 0, 0.3), 0 1px 2px 1px rgba(0, 0, 0, 0) inset,
    0 18px 32px -2px rgba(255, 255, 255, 0.1) inset;
  background-color: #ff006a;
  background-image: linear-gradient(-45deg, #ff006a, #ff00aa);
  color: #e6eaef;
}
.alpha .btn-tertiary:hover {
  box-shadow: 0 3px 0 0 #b3004a, 0 6px 4px -1px rgba(0, 0, 0, 0.3),
    0 4px 16px rgba(0, 0, 0, 0.5), 0 1px 2px 1px rgba(0, 0, 0, 0) inset,
    0 18px 32px -2px rgba(255, 255, 255, 0.14) inset;
}
.alpha .btn-tertiary:active {
  box-shadow: 0 0 0 0 #990040, 0 3px 0 0 rgba(0, 0, 0, 0),
    0 4px 16px rgba(0, 0, 0, 0), 0 1px 2px 1px rgba(0, 0, 0, 0.5) inset,
    0 -18px 32px -2px rgba(255, 255, 255, 0.1) inset;
  transition: 0s;
  color: #b3004a;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}
.alpha .btn-tetrary {
  box-shadow: 0 3px 0 0 #6b139e, 0 4px 4px -1px rgba(0, 0, 0, 0.6),
    0 4px 6px 1px rgba(0, 0, 0, 0.3), 0 1px 2px 1px rgba(0, 0, 0, 0) inset,
    0 18px 32px -2px rgba(255, 255, 255, 0.1) inset;
  background-color: #991be2;
  background-image: linear-gradient(-45deg, #991be2, #640eef);
  color: #e6eaef;
}
.alpha .btn-tetrary:hover {
  box-shadow: 0 3px 0 0 #6b139e, 0 6px 4px -1px rgba(0, 0, 0, 0.3),
    0 4px 16px rgba(0, 0, 0, 0.5), 0 1px 2px 1px rgba(0, 0, 0, 0) inset,
    0 18px 32px -2px rgba(255, 255, 255, 0.14) inset;
}
.alpha .btn-tetrary:active {
  box-shadow: 0 0 0 0 #5b1087, 0 3px 0 0 rgba(0, 0, 0, 0),
    0 4px 16px rgba(0, 0, 0, 0), 0 1px 2px 1px rgba(0, 0, 0, 0.5) inset,
    0 -18px 32px -2px rgba(255, 255, 255, 0.1) inset;
  transition: 0s;
  color: #6b139e;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}
/* 
** The Header Media Queries **
** Tweak as per your needs **
*/

.wrapper {
  max-width: 1140px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(29, 25, 25);
}

.HeaderTitle {
  display: block;
  text-align: left;
  margin-right: 40px;
}

.brand {
  font-weight: bold;
  font-size: 20px;
}

.site-header {
  z-index: 2;
  width: 100%;
  position: fixed;
  backdrop-filter: blur(10px);
}

.site-header__end {
  display: flex;
  align-items: center;
}

.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}
@media (min-width: 800px) {
  .site-header__wrapper {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
}
@media (min-width: 800px) {
  .nav__wrapper {
    display: flex;
  }
}

@media (max-width: 799px) {
  .nav__wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: #ffffff;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.15s ease-out, opacity 0.15s ease-out;
  }
  .nav__wrapper.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

.nav__item a {
  font-weight: 500;
  display: block;
  padding: 1.5rem 1.5rem;
}

.nav__toggle {
  display: none;
}
@media (max-width: 799px) {
  .nav__toggle {
    display: block;
    position: absolute;
    right: 1rem;
    top: 1.2rem;
  }
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .site-header {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .site-header {
    background-color: rgba(255, 255, 255, 0.9);
  }
}
