<span class="built-in" title="A built-in plugin maintained by the core team">Official</span>

<style>
.built-in {
    font-size: 12px;
    cursor: default;
    padding: 4px;
    border-radius: 4px;
    background-color: var(--plugin-official-background);
    color: var(--plugin-official-text);
    margin-left: 4px;
    font-weight: 400;
}
</style>
