---
import Section from "@/components/Section.astro";
import SmallText from "@/components/SmallText.astro";
---
<Section padding="48" class="footer">
  <SmallText class="footer-text">Flow Launcher Team © 2024</SmallText>
</Section>

<style>
.footer {
    background-color: var(--footer-bg);
}

.footer-text {
    color: var(--footer-text) !important;
}
</style>
