---
interface Props {
  class?: string;
}

const {
  class: className = "",
  ...rest
} = Astro.props;
---

<div class:list={["max-width-container", "padding", className]} {...rest}>
  <slot />
</div>

<style lang="scss">
@use "$styles/breakpoints";

.padding {
  padding: 0 30px;
}

@include breakpoints.sm {
  .padding {
    padding: 0 10px;
  }
}
</style>
