<div class="tag"><slot /></div>

<style>
.tag {
    font-size: 12px;
    display: inline-block;
    padding: 4px;
    border-radius: 6px;
    background-color: var(--bg);
    border: 1px solid var(--sep);
}
</style>
