:root {
    --text: #000;
    --muted-text: #888888;
    --bg: #f7fbff;
    --bg-hover: #edf2f5;
    --link: var(--text);
    --sep: #cecece;
    --mobile-menu-sep: #cecece;
    --card: #fff;
    --card-sep: #e0e8f0;
    --card-shadow: 0, 0, 0;
    --card-shadow-opacity-1: 0.07;
    --card-shadow-opacity-2: 0.03;
    --card-shadow-opacity-hover-1: 0.09;
    --card-shadow-opacity-hover-2: 0.06;
    --package-manager-name: #5A4AB2;
    --dialog-backdrop: rgba(255, 255, 255, 0.2);
    --bg-alternate: #fff;
    --bg-alternate-hover: #edf2f5;
    --footer-bg: #f9fafb;
    --footer-text: #000;
    --color-picker-input-bg: #ddd;
    --input-bg: #ddd;
    --input-bg-focus: #fff;
    --checkbox-bg: #f7fbff;
    --checkbox-bg-hover: #dfe2e6;
    --checkbox-bg-active: #c6c9cc;
    --checkbox-color: #000;
    --group-bg: #f7fbff;
    --group-bg-alternate: #edf2f5;
    --modal: #fff;
    --code-bg: #eee;
    --button-primary: #1e90ff;
    --button-primary-hover: #4169e1;
    --button-primary-active: #3a5dc7;
    --button-primary-text: #fff;
    --button-primary-variant-secondary: #3151b0;
    --button-primary-variant-secondary-hover: #1f3c92;
    --button-primary-variant-black: #000;
    --button-primary-variant-black-hover: var(--button-primary);
    --button-copy: #ccc;
    --button-copy-hover: #ddd;
    --button-copy-active: #bbb;
    --dialog-button-text: #333;
    --dialog-button-bg: transparent;
    --dialog-button-bg-hover: #edf2f5;
    --dialog-button-bg-active: #ddd;
    --theme-toggle-button: #fff;
    --theme-toggle-button-hover: #ddd;
    --theme-toggle-button-active: #bbb;
    --theme-toggle-button-icon: #333;
    --sponsor: #fff;
    --sponsor-text: #000;
    --plugin-icon-background: #ededed;
    --plugin-official-background: #f2bd0c;
    --plugin-official-text: #594504;
    --font-family: "Noto Sans", "Segoe UI", "Inter", sans-serif;
    --font-family-mono: "Source Code Pro", "JetBrains Mono", "Fira Code", "Roboto Mono", monospace;
}

:root[data-theme="dark"] {
    --text: #c9d1d9;
    --muted-text: #797979;
    --bg: #0d1117;
    --bg-hover: #10151c;
    --link: var(--text);
    --sep: #0f1115;
    --mobile-menu-sep: #242933;
    --card: #161b22;
    --card-sep: #1c2128;
    --card-shadow: 130, 180, 255;
    --card-shadow-opacity-1: 0.03;
    --card-shadow-opacity-2: 0.02;
    --card-shadow-opacity-hover-1: 0.05;
    --card-shadow-opacity-hover-2: 0.04;
    --package-manager-name: #FCFF9B;
    --dialog-backdrop: rgba(0, 0, 0, 0.2);
    --bg-alternate: #161b22;
    --bg-alternate-hover: #1b2029;
    --footer-bg: #000;
    --footer-text: #aeaeae;
    --color-picker-input-bg: #222;
    --input-bg: #11161f;
    --input-bg-focus: #263145;
    --checkbox-bg: #0d1117;
    --checkbox-bg-hover: #2b374a;
    --checkbox-bg-active: #394a63;
    --checkbox-color: #c9d1d9;
    --group-bg: #2b374a;
    --group-bg-alternate: #3b4b64;
    --modal: #2c2c2c;
    --code-bg: #24292e;
    --button-primary: #1e90ff;
    --button-primary-hover: #4169e1;
    --button-primary-active: #3a5dc7;
    --button-primary-text: #fff;
    --button-copy: #444;
    --button-copy-hover: #555;
    --button-copy-active: #333;
    --dialog-button-text: #d8d8d8;
    --dialog-button-bg: transparent;
    --dialog-button-bg-hover: #161b22;
    --dialog-button-bg-active: #1b2029;
    --theme-toggle-button: transparent;
    --theme-toggle-button-hover: #262f3b;
    --theme-toggle-button-active: #364354;
    --theme-toggle-button-icon: #d8d8d8;
    --plugin-official-background: #594504;
    --plugin-official-text: #f2bd0c;
}
